{% extends 'base.html' %}
{% block body %}
<h2>{{ title }}</h2>
<h3>{{ table_title }}</h3>
<table border="1">
    <th>CWID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Course</th>
    <th>Students</th>
    {% for instructor in instructors %}
        <tr>
            <td>{{ instructor.cwid }}</td>
            <td>{{ instructor.name }}</td>
            <td>{{ instructor.dept }}</td>
            <td>{{ instructor.course }}</td>
            <td>{{ instructor.cnt }}</td>
        </tr>
    {% endfor %}
</table>
<p><a href="/main">main page</a></p>
{% endblock %}